body {
  color: var(--paragraph);
  background: var(--bg-color);
  margin: 0;
  font-family: var(--text-font-cashdisplay);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.Toastify__toast {
  box-shadow: none;
}

.Toastify__toast--error {
  background: var(--error-bg);
  color: var(--error-color);
}

.Toastify__toast--warning {
  background: var(--warning-bg);
  color: var(--warning-color);
}

.Toastify__toast--success {
  background: var(--success-bg);
  color: var(--success-color);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=text]:-webkit-autofill,
input[type=password]:-webkit-autofill,
input[type=email]:-webkit-autofill,
input[type=number]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=password]:-webkit-autofill:hover,
input[type=email]:-webkit-autofill:hover,
input[type=number]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=password]:-webkit-autofill:focus,
input[type=email]:-webkit-autofill:focus,
input[type=number]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active,
input[type=password]:-webkit-autofill:active,
input[type=email]:-webkit-autofill:active,
input[type=number]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondary-bg-color) inset !important;
  -webkit-text-fill-color: var(--color-title) !important;
}

aside div::-webkit-scrollbar {
  background: var(--bg-color);
}

aside div::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}

aside div:hover::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-moz-selection {
  background-color: var(--main-color);
  color: var(--bg-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
}

a {
  text-decoration: none;
}

fieldset {
  color: var(--color-title);
  display: flex;
  gap: 30px;
}

.bloc-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner .bloc-1 .navigation p {
  padding: 20px 18px 20px;
}

.menu {
  margin: 0;
  border-bottom: solid 1px var(--grey-color);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu span {
  margin-left: 18px;
}

.big-user-picture {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profil-container {
  left: 20px;
  bottom: 20px;
  z-index: 10;
  padding-top: 0px;
  position: absolute;
  display: flex;
  padding: 8px 20px;
  border-radius: 50px;
  align-items: center;
  gap: 20px;
}
.profil-container .user-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--color-title);
}

.user-container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding: 8px 20px;
  border-radius: 50px;
  gap: 10px;
  align-items: center;
  background: var(--secondary-bg-color);
  z-index: 1;
}
.user-container .user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-picture-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.user-picture-min {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.theme-container {
  display: flex;
  position: relative;
}

.radio-theme {
  margin-left: 0;
  margin-right: 0;
  left: 15px;
  position: absolute;
  bottom: 12px;
  accent-color: var(--success-color);
  background: none;
}

.label-theme {
  border: solid grey 2px;
  border-radius: 5px;
  padding-bottom: 8px;
  cursor: pointer;
}

:checked + .label-theme {
  border: solid var(--success-color) 2px;
  border-radius: 5px;
  padding-bottom: 8px;
  cursor: pointer;
}

.text-theme {
  margin-left: 40px;
  color: var(--paragraph);
}

.button-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.button-container-reverse {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: flex-end;
}

.dialog-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.image-container {
  position: absolute;
  max-width: 250px;
  max-height: 250px;
  bottom: -30px;
  left: 30px;
}

.test {
  margin: 0;
  line-height: 1;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  z-index: 5;
}

.recette-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 400px;
  border-radius: 5px;
}

.fixed-bottom-right {
  margin: 0;
  line-height: 1;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  z-index: 5;
}

.demo-img {
  display: block;
  position: relative;
}
.demo-img:before {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #090e16);
  bottom: -1px;
  content: "";
  height: 50%;
  left: -1px;
  position: absolute;
  width: calc(100% + 2px);
  z-index: 1;
  border-radius: 5px;
}
.demo-img img {
  width: 100%;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: radial-gradient(80vw 48vw at 10% 100%, var(--main-color), transparent);
}

.overlay-2 {
  position: absolute;
  z-index: -1;
  top: 100vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: radial-gradient(80vw 48vw at 10% 0%, var(--main-color), transparent);
}

.overlay-open {
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */