:root {
  --title-font: "Candal";
  --text-font-light: "BeVietnam light";
  --text-font: "BeVietnam medium";
  --text-font-bold: "BeVietnam semi bold";
  --text-font-cashdisplay: "ClashDisplay";
}

[data-theme=light] {
  --bg-color: #F3F4F6;
  --transparent-bg-color: rgba(243, 244, 246, 0.95);
  --secondary-bg-color: #fff;
  --grey-color: #d8d8df;
  --colored-text: #4174d7;
  --main-color: #FF385C;
  --secondary-color: #C6155D;
  --paragraph: #1c1d29;
  --color-title: #05081f;
  --nav-bg-hover: #e1e3fa;
  --nav-bg-active: #9aa4ef;
  --error-color: #ff0000;
  --error-bg: #f7dddd;
  --error-bg-darker: #ffcccc;
  --warning-color: #db7c00;
  --warning-bg: #FFF2E0;
  --warning-bg-darker: #FFE0B8;
  --success-color: #48a473;
  --success-bg: #e0f1e8;
  --success-bg-darker: #ceeadb;
  --toastify-color-light: #fff;
  --toastify-color-dark: #e0f1e8;
  --toastify-color-info: #3498db;
  --toastify-color-success: #48a473;
  --toastify-color-warning: #db7c00;
  --toastify-color-error: #ff0000;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: var(--toastify-color-success);
  --toastify-text-color-dark: var(--toastify-color-success);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

[data-theme=dark] {
  --bg-color: #121016;
  --transparent-bg-color: rgba(18, 16, 22, 0.95);
  --secondary-bg-color: #1a1821;
  --grey-color: #1c1b21;
  --colored-text: rgb(116, 137, 176);
  --main-color: #FF385C;
  --secondary-color: #C6155D;
  --paragraph: #ADADB0;
  --color-title: #FBFDFC;
  --nav-bg-hover: rgba(116, 137, 176, 0.05);
  --nav-bg-active: rgba(116, 137, 176, 0.2);
  --error-color: rgb(255, 80, 80);
  --error-bg: #2b161a;
  --error-bg-darker: rgba(255, 80, 80, 0.2);
  --warning-color: #ff9305;
  --warning-bg: #3f2d1d;
  --warning-bg-darker: #6B4B28;
  --success-color: rgb(72, 164, 115);
  --success-bg: #1f2527;
  --success-bg-darker: #1a1f21;
  --toastify-color-light: #fff;
  --toastify-color-info: #3498db;
  --toastify-color-success: rgb(72, 164, 115) !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgb(255, 80, 80) !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: rgb(72, 164, 115);
  --toastify-icon-color-warning: #ff9305;
  --toastify-icon-color-error: rgb(255, 80, 80);
  --toastify-toast-width: 320px;
  --toastify-toast-background: red;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: rgb(72, 164, 115);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: rgb(72, 164, 115);
  --toastify-color-progress-warning: #ff9305;
  --toastify-color-progress-error: rgb(255, 80, 80);
}/*# sourceMappingURL=theme.css.map */