/* Section.module.css */
.section {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-width: calc((100% - 30px));
}

.defaultPadding {
    padding: 100px 30px;
}

.defaultMargin {
    margin: 0 auto;
}

.defaultSpacing {
    gap: 10px;
}

.defaultJustify {
    justify-content: center;
}

.highlight {
    background: var(--secondary-bg-color);
}

.overflowVisible {
    overflow: visible;
}

.fullWidth {
    max-width: 100%;
    padding: 100px 0;
}

/* Variants pour justify-content */
.justify_start { justify-content: flex-start; }
.justify_end { justify-content: flex-end; }
.justify_center { justify-content: center; }
.justify_between { justify-content: space-between; }
.justify_around { justify-content: space-around; }
.justify_evenly { justify-content: space-evenly; }

 /* Alignment */
 .alignCenter {
    align-items: center;
 }
 
 .alignStart {
    align-items: flex-start;
 }
 
 .alignEnd {
    align-items: flex-end;
 }

/* Variants pour spacing (gap) */
.spacing_small { gap: 5px; }
.spacing_medium { gap: 10px; }
.spacing_large { gap: 20px; }
.spacing_xlarge { gap: 30px; }

/* Variants pour padding */
.padding_none { padding: 0; }
.padding_small { padding: 50px 15px; }
.padding_medium { padding: 100px 30px; }
.padding_large { padding: 150px 45px; }

/* Variants pour margin */
.margin_none { margin: 0; }
.margin_auto { margin: 0 auto; }
.margin_top { margin-top: auto; }
.margin_bottom { margin-bottom: auto; }

/* Heights prédéfinis si nécessaire */
.height_full { height: 100%; }
.height_screen { height: 100vh; }
.height_auto { height: auto; }