.bentoDiv {
  position: relative;
  overflow: hidden;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22vw;
  background: rgba(31, 29, 39, 0.24);
  padding: 10% 10% 20%;
  border-radius: 10px;
  border: 1px solid rgb(56, 51, 63);
  transform-origin: center;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
}

.bentoParentDiv {
  position: relative;
  margin: 0;
  padding: 0;
  transform-origin: center;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.bentoDiv a {
  color: var(--secondary-bg-color);
  opacity: 0;
  cursor: pointer;
}

.bentoDiv a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
}