.mega_menu_item {
    color: var(--main-color);
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 800;
    line-height: 1;
}

.mega_menu_item:hover {
    color: var(--color-title);
}

@media (max-width: 768px) {
    .mega_menu_item {
        font-size: 12vw;
    }
}