.text {
    font-family: var(--text-font-cashdisplay);
    color: var(--paragraph);
  }
  
  .text.colored {
    color: var(--main-color);
  }
  
  .text.contrasted {
    color: var(--color-title);
  }
  
  .text.white {
    color: #fff;
  }
  
  .text.default {
    color: var(--paragraph);
  }
  